{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}

            <div class="card mb-3 mt-2">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <center>
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
        
                      {% if product.is_sale %}
                      
                              <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product price-->
                              <strike>
                              £{{ product.price }}
                              </strike>
                              &nbsp;£{{ product.sale_price }}
                          </div>
        
        
                      {% else %}
                          £{{ product.price }}
                          <br>
                          
        
                      {% endif %}
                      
                      <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
                      
                      
                      </center>
                    </div>
                  </div>
                </div>
              </div>
                
            {% endfor %}
            {% else %}
            <center>Cart is Empty</center>
            {% endif %}

        </div>
        
   
{% endblock %}