{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Tiny Toez</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row"><center><div class="col-8">
 <h4>Crafting Quality Shoes for Children</h4>
<p align="justify">
Tiny Toez is a renowned company dedicated to creating high-quality shoes specifically designed for children. They understand the unique needs of young feet as they grow and develop, which is why they focus all their efforts on producing durable, comfortable, and stylish footwear for kids of all ages. With a commitment to both form and function, Tiny Toez has become a trusted name in the industry, providing parents with peace of mind and children with happy, healthy feet.
</p>
    </div></center></div>
</div>
{% endblock %}